<div class="jumbotron mb-5 default-color">
  <h1>Todo</h1>
</div>
<div class="container">
  <div class="md-form">
    <input mdbInputDirective type="text" id="todo" class="form-control" [mdbValidate]="false" [(ngModel)]="details" (keyup.enter)="addTodo()">
    <label for="todo">What do you want to do?</label>
  </div>
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let todo of todoStore.todos" [ngStyle]="{'text-decoration': todo.isComplete ? 'line-through' : 'none'}"
      [class.list-group-item-success]="todo.isComplete">
      {{ todo.details }}
      <i class="fa fa-trash fa-lg float-right ml-3" (click)="deleteTodo(todo)"  mdbTooltip="Remove Todo" placement="right"></i>
      <input class="float-right mr-2 mt-1" type="checkbox" (click)="toggleTodo(todo)">
    </li>
  </ul>
  <div class="mt-3"><a href="#" (click)="removeCompleted()">Remove Completed</a></div>
</div>